.random-character {
  background-color: rgb(26, 26, 26);
  outline-width: thin;
  width: 1360px;
  height: 320px;
  margin-top: 75px;
  margin-left: 250px;
  margin-right: 310px;
  display: grid;
  grid-template-columns: 250px 600px;
  font-size: 16px;
  border-radius: 5px;
}
.random-character-img {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  height: 300px;
  width: 220px;
  object-fit: cover;
  overflow: hidden;
}
.random-character-img img {
  height: 300px;
}

.random-character-info {
  margin-top: -15px;
}

.sceleton-random {
  width: 1360px;
  height: 320px;
  margin-top: 75px;
  margin-left: 250px;
  margin-right: 310px;
}
