.character-info {
  display: grid;
  grid-template-columns: 350px 350px 550px;
  margin: 50px;
  margin-left: 250px;
}

.character-info-img {
  margin-top: 20px;
  height: 300px;
  width: 300px;
  object-fit: cover;
  overflow: hidden;
}
.character-info-img img {
  height: 400px;
}
