.item-block {
  background-color: #161616;
  opacity: 0.8;
  margin-top: 15px;
  width: 220px;
  height: 300px;
  display: grid;
}
a {
  cursor: default;
}

.item-block:hover {
  opacity: 1;
}

.item-block img {
  cursor: pointer;
  height: 300px;
  width: 220px;
  object-fit: cover;
  overflow: hidden;
}

.item-block-name {
  text-align: center;
  opacity: 0.8;
  background-color: white;
  color: black;
  position: absolute;
  margin-top: 220px;
  width: 220px;
  height: 80px;
  display: grid;
  grid-template-rows: 28px 1px;
}

.item-block-name p {
  font-size: 13px;
}
