.header {
  margin-left: 250px;
  margin-top: 20px;
  margin-bottom: -50px;
  display: grid;
  grid-template-columns: 250px 850px 10px;
}
.header a {
  text-decoration: none;
  color: white;
}
.header-logo {
  margin-top: 13px;
  width: 200px;
}

.header h2 {
  margin-top: -10px;
}
.header-buttons img {
  display: grid;
  width: 100px;
  height: 60px;
}
