.episode-block {
  opacity: 0.7;
  margin-top: 25px;
  width: 1350px;
  height: 120px;
  border-radius: 5px;
  padding-left: 20px;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 200px 500px;
  background-color: rgb(26, 26, 26);
}
.episode-block:hover {
  opacity: 1;
}
.episode-block-info {
  margin-top: 22px;
}
